html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

main {
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: url(/images/wood-grain-bg.jpg);
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator-container {
    width: 80%;
    height: 80%;
    padding: 2%;

    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
        "display display"
        "buttons history";
    gap: 10px;
    
    border-radius: 12px;
    background-color: hsl(240, 80%, 20%);
}

#calculator-display-container {
    margin: 0 0 10px 0;

    grid-area: display;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    color: hsl(240, 0%, 10%);
    background-color: hsl(240, 0%, 80%);
    font-size: 7vmin;
    font-family: 'Orbitron', sans-serif;
}

#calculator-display-container > p {
    padding: 0;
    margin: 0;
}

#calculator-buttons-container {
    border: 1px solid black;
    grid-area: buttons;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "memrc  memsv   clear    clear"
        "undo   divide  multiply minus"
        "seven  eight   nine     plus"
        "four   five    six      plus"
        "one    two     three    equals"
        "zero   zero    decimal  equals";
    gap: 3px;
}

.calc-button {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 3vw;
    transition: all 0.2s ease;
}

.calc-button-active {
    color: hsl(48, 100%, 50%);
    text-shadow: 0 0 5px hsl(48, 100%, 50%), 0 0 0 black;
    scale: 0.95;
}

#calculator-history-container {
    background-color: hsl(240, 0%, 80%);
    color: hsl(240, 0%, 10%);
    grid-area: history;
}

#memrecall-button { 
    grid-area: memrc;
}

#memsave-button { 
    grid-area: memsv; 
}

#undo-button {
    grid-area: undo;
}

#clear-button {
    grid-area: clear;
}

#seven-button { 
    grid-area: seven; 
} 

#eight-button { 
    grid-area: eight; 
} 

#nine-button { 
    grid-area: nine; 
} 

#four-button { 
    grid-area: four; 
} 

#five-button { 
    grid-area: five; 
} 

#six-button { 
    grid-area: six; 
} 

#one-button { 
    grid-area: one; 
} 

#two-button { 
    grid-area: two; 
} 

#three-button { 
    grid-area: three; 
} 

#zero-button { 
    grid-area: zero; 
} 

#decimal-button { 
    grid-area: decimal; 
} 

#divide-button { 
    grid-area: divide; 
} 

#multiply-button { 
    grid-area: multiply; 
} 

#minus-button { 
    grid-area: minus; 
} 

#plus-button { 
    grid-area: plus; 
}

#equals-button { 
    grid-area: equals; 
}

/* history */
.history-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}