html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

main {
    width: 100vw;
    height: 100vh;
}

#calculator-container {
    border: 1px solid black;
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
        "display display"
        "buttons history";
}

#calculator-display-container {
    border: 1px solid black;
    grid-area: display;
}


#calculator-buttons-container {
    border: 1px solid black;
    grid-area: buttons;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "memrc  memsv   undo     clear"
        "sqrt   square  divide   multiply"
        "seven  eight   nine     plus"
        "four   five    six      minus"
        "one    two     three    equals"
        "zero   zero    decimal  equals"
}

.calc-button {
    border: 1px solid black;
}

#calculator-history-container {
    border: 1px solid black;
    grid-area: history;
}

#memrecall-button { 
    grid-area: memrc;
}

#memsave-button { 
    grid-area: memsv; 
}

#undo-button {
    grid-area: undo;
}

#clear-button {
    grid-area: clear;
}

#seven-button { 
    grid-area: seven; 
} 

#eight-button { 
    grid-area: eight; 
} 

#nine-button { 
    grid-area: nine; 
} 

#four-button { 
    grid-area: four; 
} 

#five-button { 
    grid-area: five; 
} 

#six-button { 
    grid-area: six; 
} 

#one-button { 
    grid-area: one; 
} 

#two-button { 
    grid-area: two; 
} 

#three-button { 
    grid-area: three; 
} 

#zero-button { 
    grid-area: zero; 
} 

#decimal-button { 
    grid-area: decimal; 
} 

#divide-button { 
    grid-area: divide; 
} 

#multiply-button { 
    grid-area: multiply; 
} 

#minus-button { 
    grid-area: minus; 
} 

#plus-button { 
    grid-area: plus; 
} 

#sqrt-button {
    grid-area: sqrt;
}

#square-button {
    grid-area: square;
}

#equals-button { 
    grid-area: equals; 
}